<app-points-counter [progressBarConfig]="progressBarConfig"></app-points-counter>

<div class="container-fluid">
    <app-entity-management> </app-entity-management>
    <div class="row">
        Start block life: {{startBlockLife}}
    </div>
    <div class="row">
        currentBlockLife: {{wordCount}}
    </div>


    <div class="row row-cols-auto">
        <button (click)="backward()">Left</button>
        <button (click)="forward()">Right</button>
    </div>
</div>

<app-text-field></app-text-field>